<div class="row">
  <div class="col-sm-12 col-12">
    <div class="form-group">
      <label class="form-label" for="form-ciudad">Filter</label>
      <input type="text" class="form-control" (keyup)="applyFilter($event)" [(ngModel)]="search" placeholder="Ej. Manuel"/>
    </div>
  </div>
</div>
<table mat-table [dataSource]="dataSource" class="table">

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}}</td>
  </ng-container>
  <ng-container matColumnDef="job">
    <th mat-header-cell *matHeaderCellDef> Job </th>
    <td mat-cell *matCellDef="let element"> {{element.job}}</td>
  </ng-container>
  <ng-container matColumnDef="username">
    <th mat-header-cell *matHeaderCellDef> User </th>
    <td mat-cell *matCellDef="let element"> {{element.username}} </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Accion </th>
    <td mat-cell *matCellDef="let element; let i = index;">
      <button class="btn btn-primary btn-block" tabindex="4" rippleEffect (click)="addNewItem(element, i)">
        <mat-icon aria-label="Side nav toggle icon">edit</mat-icon>
      </button>
      <button class="btn btn-danger btn-block" tabindex="4" rippleEffect (click)="DeleteItem(element, i)">
        <mat-icon aria-label="Side nav toggle icon">delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="5">There is no data matching the filter "{{search}}"</td>
  </tr>
</table>
<mat-paginator [length]="total" [pageSize]="0"  [pageSizeOptions]="[10]" [hidePageSize]="true" aria-label="Select page" (page)="pageSelect($event)">
</mat-paginator>