<mat-toolbar>
    <img src="assets/images/logo.png" width="45" alt="Logo" />
</mat-toolbar>
<mat-nav-list>
    <a mat-list-item class="option" routerLink="/home" routerLinkActive="active">
        <mat-icon class="icon-navbar">home</mat-icon> Home
    </a>
    <a mat-list-item class="option" routerLink="/user" routerLinkActive="active">
        <mat-icon class="icon-navbar">people</mat-icon> Users
    </a>
</mat-nav-list>