.option {
    opacity: .65;
}

.option .mat-list-item-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.option.active {
    opacity: 1;
}

.icon-navbar {
    margin: 0 .5rem 0 0;
    padding: 0;
}