:host {
  display: block;
}

:host ::ng-deep .layout-loading .sidenav-link {
  transition: none !important;
}

:host .mat-drawer-opened {
  width: 220px !important;
}

:host .icon-app {
  cursor: pointer !important;
}