.card-title{
	margin: 0px;
}
.card-div{
	background: #7774ff;
    border-radius: 5px;
    color: white;
    padding: 15px;
}
.card-div-sec{
	background: #9997ef;
    border-radius: 5px;
    color: white;
    padding: 15px;
}