<mat-card>
  <div class="container">
    <div class="row">
      <div class="col-xl-12 col-md-12 col-12">
        <div class="card card-statistics">
          <div class="card-header">
            <h1 class="card-title text-center">Welcome to our user control panel</h1>
          </div>
          <div class="card-body">
            <div class="row pt-2">
              <div class="col-sm-4 col-xl-3 mb-4">
                <div class="card-div text-center">
                  <mat-icon aria-label="Side nav toggle icon">supervisor_account</mat-icon>
                  <h4 class="font-weight-bolder mb-0"> {{total}} registered users</h4>
                </div>
              </div>
              <div class="col-sm-4 col-xl-3 mb-4" *ngFor="let j of job">
                <div class="card-div-sec text-center">
                  <mat-icon aria-label="Side nav toggle icon">face</mat-icon>
                  <h4 class="font-weight-bolder mb-0"> {{j.total}} registered {{j.job}}</h4>
                </div>
              </div>
              <div class="col-12 col-sm-12 col-md-6 offset-md-3">
                <div flex="" *ngIf="alls">
                  <mat-divider></mat-divider>
                  <div flex="">
                    <h2 class="m-0 p-3 text-center">Charts(Jobs)</h2>
                  </div>
                  <mat-divider></mat-divider>
                  <div class="chart-wrapper">
                    <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
                      [options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend">
                    </canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-card>
<mat-card>
  <div layout="column">


  </div>
</mat-card>
