<mat-card>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-12 mb-4" *ngIf="!divform">
        <button class="btn btn-primary btn-block btn-new-add" tabindex="4" rippleEffect (click)="divform=true;">Add new
          user</button>
      </div>
      <div class="col-xl-12 col-md-12 col-12" *ngIf="!divform">
        <div class="card ">
          <div class="card-body">
            <app-tablelist [add]="addForm" [update]="updateForm" [delete]="deleteForm"
              (EdititemEvent)="ChooseItem($event)" (DeleteemEvent)="ChooseItem2($event)"></app-tablelist>
          </div>
        </div>
      </div>

      <div class="col-xl-12 col-md-12 col-12" *ngIf="divform">
        <div class="card ">
          <div class="card-header">
            <h4 class="card-title" *ngIf="actions">Add new user</h4>
            <h4 class="card-title" *ngIf="addAction">Edit user</h4>
          </div>
          <div class="card-body">

            <form class="auth-login-form mt-2" [formGroup]="Form_">
              <div class="row">
                <div class="col-sm-6 col-12 mt-3">
                  <div class="form-group">
                    <label class="form-label" for="form-email">Email</label>
                    <input type="text" formControlName="email" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.email.errors }" placeholder=""
                      aria-describedby="form-email" autofocus="" tabindex="1" />
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                      <div *ngIf="f.email.errors.required">Email is required</div>
                      <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-12 mt-3">
                  <div class="form-group">
                    <label class="form-label" for="form-name">Name</label>
                    <input type="text" formControlName="name" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.name.errors }" placeholder=""
                      aria-describedby="form-name" autofocus="" tabindex="1" />
                    <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                      <div *ngIf="f.name.errors.required">Name is required</div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-12 mt-3">

                  <div class="form-group">
                    <label class="form-label" for="form-username">Username</label>
                    <input type="text" formControlName="username" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.username.errors }" placeholder=""
                      aria-describedby="form-username" autofocus="" tabindex="1" />
                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                      <div *ngIf="f.username.errors.required">Username is required</div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-12 mt-3">

                  <div class="form-group">
                    <label class="form-label" for="form-birth">Date Birth {{getage(f.birth.value)}}</label>
                    <input type="date" min="1910-01-01" [max]="today" formControlName="birth" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.birth.errors }" placeholder=""
                      aria-describedby="form-birth" autofocus="" tabindex="1" />
                    <div *ngIf="submitted && f.birth.errors" class="invalid-feedback">
                      <div *ngIf="f.birth.errors.required">Date Birth is required</div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-12 mt-3">

                  <div class="form-group">
                    <label class="form-label" for="form-job">Job</label>
                    <input type="text" formControlName="job" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.job.errors }" placeholder="" aria-describedby="form-job"
                      autofocus="" tabindex="1" />
                    <div *ngIf="submitted && f.job.errors" class="invalid-feedback">
                      <div *ngIf="f.job.errors.required">Job is required</div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-12 mt-3 row">
                  <div class="col-sm-12 col-12">
                    <br>
                    <button *ngIf="!addAction" [disabled]="loading" class="btn btn-primary btn-block btn-form"
                      tabindex="4" rippleEffect (click)="add()">
                      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span> Add
                    </button>
                    <button *ngIf="addAction" [disabled]="loading" class="btn btn-info btn-block btn-form" tabindex="4"
                      rippleEffect (click)="edit()">
                      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span> Edit
                    </button>
                    <button [disabled]="loading" class="btn btn-secondary btn-block btn-form" tabindex="4" rippleEffect
                      (click)="resetAll()">
                      Cancel
                    </button>
                  </div>

                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-card>